
<p>Cadastra</p>

<form action="/cadastrar" method="POST">
<label>Nome:</label>
<input type="text" name="nome">

<label>Telefone:</label>
<input type="tel" name="tel">

<label class="form-label">observação:</label>
<input type="text" name="obs">

<button type="submit" >Cadastrar</button>

</form>

   